html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.gfg {
    height: 50px;
    width: 50px;
}

.mynav {
    color: #fff;
}

    .mynav li a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        display: block;
        border-radius: 5px;
        padding: 8px 5px;
    }

        .mynav li a.active {
            background: rgba(255, 255, 255, 0.2);
        }

        .mynav li a:hover {
            background: rgba(255, 255, 255, 0.2);
        }

        .mynav li a i {
            width: 25px;
            text-align: center;
        }

.notification-badge {
    background-color: rgba(255, 255, 255, 0.7);
    float: right;
    color: #222;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 2px;
}

.table table tbody tr td a,
.table table tbody tr td span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table table > tbody > tr > td > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}


/css de label progress bar:/
.progressContainer {
    width: 100%;
    background-color: #ddd;
    margin-top: 20px;
}

.progressBar {
    height: 30px;
    width: 0;
    background-color: #4caf50;
    text-align: center;
    color: white;
    line-height: 30px;
}

.menu-bg {
    background-color: #86B6F6 !important; /* Usa !important para asegurar la prioridad */
}

.top-menu-bg {
    background-color: #B4D4FF !important; /* Usa !important para asegurar la prioridad */
}

.navbar-text-color {
    color: #176B87 !important; /* Cambia #333333 al color que prefieras */
}

.custom-btn-outline {
    border-color: #176B87 !important; /* Color del contorno */
    color: #176B87 !important; /* Color del texto */
}

    /* Efecto hover */
    .custom-btn-outline:hover {
        background-color: #86B6F6 !important; /* Color de fondo al hacer hover */
        color: #176B87 !important; /* Color de texto en hover */
        border-color: #86B6F6 !important; /* Asegura que el borde se mantenga en hover */
    }

.form-check-label {
    margin-left: 5px; /* Ajusta este valor según sea necesario */
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    margin-right: 10px; /* Ajusta este valor según sea necesario */
}
