<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
		  <binding name="ProductoraWSPortBinding" receiveTimeout="00:1:00" sendTimeout="00:1:00"
 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
		  <binding name="EventoWSPortBinding" receiveTimeout="00:1:00" sendTimeout="00:1:00"
	maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
	  </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/EventMasterSoftWSBL/ProductoraWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoraWSPortBinding"
        contract="ServicioWS.ProductoraWS" name="ProductoraWSPort" />
      <endpoint address="http://localhost:8080/EventMasterSoftWSBL/EventoWS"
        binding="basicHttpBinding" bindingConfiguration="EventoWSPortBinding"
        contract="ServicioWS.EventoWS" name="EventoWSPort" />
    </client>
  </system.serviceModel>
</configuration>